<header class="header">
    <app-menu-title></app-menu-title>
</header>
<div class="cards">
    <div class="cards__main">
        <app-big-card
        titleCard="Só vem papai"
        descriptionCard="sangue de jesus tem poder, sangue de jesus tem poder, sangue de jesus tem poder, sangue de jesus tem poder,  sangue de jesus tem poder"
        ></app-big-card>
    </div>
    <div class="cards__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>